<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note It</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    

<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="img/lightmode.png" alt="" width="100%" height="50" class="d-inline-block align-text-top">
    </a>
    <div class="sign_out d-flex ">
      <a class="btn-dark btn btn-lg" href="/auth/google" role="button">
          <i class="fab fa-google"></i>
          SIGN IN
      </a>
  </div>
      <!-- <button class="btn d-flex btn-outline-success" href="/notes" type="button">Sign In</button> -->
  </div>
</nav>
    <div class="panel1 container-fluid">
        
        <div class="heading ">

          Note It
        </div>
        <div class="content">

          <h3>A Safe and secure place to store your thoughts</h3>
        </div>
    </div>

   
    <!-- <h1>Hello World!</h1> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>